* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
}

ul {
  list-style-type: none;
  margin: 0 0 1rem 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #111;
}

#create_set {
  color: white;
  background-color: blueviolet;
  border-radius: 2rem;
  border: 0.7rem solid blueviolet;
  text-decoration: none;
  margin: 0 0 4rem 2rem;
  display: inline-block;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}
.all_set {
  margin: 2rem 2rem;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
}
.set_box {
  margin: 1rem 2rem 1rem 0;
  height: 15rem;
  width: 15rem;
  max-width: 15rem;
  max-height: 15rem;
  border: .1rem solid #BBB;
}

.set_subject {
  font-size: 1.2rem;
  margin: 4rem 0 0 0;
}

.set_details {
  color: white;
  background-color: blueviolet;
  border-radius: 2rem;
  border: 0.7rem solid blueviolet;
  margin: 2rem 0 0 0;
  text-decoration: none;
}
